{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{%static 'css/bootstrap.rtl.min.css' %}" integrity="sha384-nU14brUcp6StFntEOOEBvcJm4huWjB0OcIeQ3fltAfSmuZFrkAif0T+UtNGlKKQv" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/custom.css' %}">

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% include 'components/navbar.html' %}
    <div class="container mt-3">
      <div class="row">
        <div {% if request.user.is_authenticated %}class="col-sm-9"{% else %}class="col-12"{% endif %}>
            {% block content %}{% endblock %}
        </div>
        <div class="col-sm-3">
            {% if request.user.is_authenticated %}
            {% include 'components/sidebar.html' %}
            {% endif %}
      </div>
      {% include 'components/footer.html' %}
    </div>
    <script src="{%static 'js/bootstrap.bundle.min.js' %}" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  </body>
</html>